<div class="btn-group" role="group">
    {% for group, options, index in widget.optgroups %}
        {% for option in options %}
            <input
                type="radio"
                class="btn-check"
                name="{{ widget.name }}"
                value="{{ option.value }}"
                id="{{ option.attrs.id }}"
                autocomplete="off"
            />

            <label
                for="{{ option.attrs.id }}"
                class="btn btn-outline-secondary"
            >
                {% if option.value == 'unknown' %}
                    <i class="bi bi-file-earmark"></i>
                {% else %}
                    <i class="bi bi-file-earmark-{{ option.value }}"></i>
                {% endif %}

                {{ option.label }}
            </label>
        {% endfor %}
    {% endfor %}
</div>
