<div class="d-grid gap-2 d-md-flex justify-content-center">
    <ul class="list-group list-group-horizontal">
        {% for name, currency in items.items %}
            <li class="list-group-item list-group-item-light rounded-top-0">
                <i class="bi bi-currency-{% if currency.icon %}{{ currency.icon }}{% else %}exchange{% endif %}"></i>
                <span class="pe-2">
                    {% if currency.icon %}
                        {{ currency.icon|title }} ({{ name }})
                    {% else %}
                        {{ name }}
                    {% endif %}
                </span>

                {% for type, rate in currency.rates.items %}
                    <span class="badge text-bg-secondary rounded-pill">
                        <span class="text-white-50">{{ type }}:</span>
                        <span>{{ rate }}</span>
                    </span>
                {% endfor %}
            </li>
        {% endfor %}

        {% url 'pa_news:bank' as bank %}

        {% if path != bank %}
            <a href="{{ bank }}" class="list-group-item rounded-top-0">
                <i class="bi bi-bank"></i>
                Banks
            </a>
        {% endif %}
    </ul>
</div>
